html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: darkgrey;
}

div {
  background-color: darkgrey;
}

body {
  margin-bottom: 60px;
  background-color: darkgrey;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.expenseItem {
  border: 3px solid rgb(16, 92, 13);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}